version: "3.9"

services:
  db:
    image: postgres:16
    container_name: flywaytravels_db
    restart: unless-stopped

    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: securedaccess

    ports:
      - "1234:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
